* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
}

:root {
    --primary-color: #66fcf1;
    --secondary-color: #202833;
    --text-color: #e5fffd;
    --background-color: #161825;
}
